.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 18rem), 1fr));
    grid-auto-rows: max-content;
    gap: 1rem;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    max-width: 100%;
    height: 100%;
}
